<nav class="d-flex nav-grp align-items-center">
<%= link_to "<Back", group_entities_path %>

  <% if user_signed_in? %>
    <h4>Hi, <%= current_user.name %></h4>
  <% end %>

  <%= button_to "LOGOUT", destroy_user_session_path, method: :delete, class:"btn-bold" %>
</nav>