<section>
<h1>Fulus Bank</h1>

<h3> Thank you for banking with us</h3>
<div class="splash">
  <%= link_to "LOG IN", new_user_session_path %>
  <%= link_to "SIGN UP", new_user_registration_path %>
</div>
</section>